<% include header %>

<div id="wrapper">

<!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid">

<!-- FORM -->
<div class="ui raised very padded text container segment">
	<h4>Tell Us About Yourself</h4>
	<hr>
	<div class="field example">
		<img src="images/matcha1.jpg" class="logoform">
		<form class="ui form segment" id="loginform" method="post" action="/register">
			<div class="two fields">
				<div class="field">
					<label>Name</label>
					<input placeholder="First Name" name="name" type="text" id="name">
				</div>
				<div class="field">
					<label>Gender</label>
					<div class="ui dropdown selection" tabindex="0">
						<select name="gender" id="gender">
							<option value="">Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="other">Other</option>
						</select>
							<i class="dropdown icon"></i>
							<div class="default text">Gender</div>
							<div class="menu" tabindex="-1">
								<div class="item" data-value="male">Male</div>
								<div class="item" data-value="female">Female</div>
								<div class="item" data-value="other">Other</div>
							</div>
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>surname</label>
					<input placeholder="surname" name="surname" type="text" id="surname">
				</div>
				<div class="field">
					<label>Email</label>
					<input placeholder="Email@youremail.com" type="email" name="email" id="email">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>signin</label>
					<input placeholder="signin" name="signin" type="text" id="signin">
				</div>
				<div class="field">
					<label>City</label>
					<input placeholder="City" type="text" name="city" id="city">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Password</label>
					<input placeholder="Password" name="pswd" type="password" id="pswd">
				</div>
				<div class="field">
					<label>Repeat Password</label>
					<input placeholder="Again" type="password" name="repswd" id="repswd">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Birth date</label>
					<input type="date" name="age" id="age">
				</div>
				<div class="field">
					<label>sexual_preference</label>
					<div class="ui dropdown selection" tabindex="0">
						<select name="sexual_preference" id="sexual_preference">
							<option value="">sexual_preference</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="both">Both</option>
						</select>
						<i class="dropdown icon"></i>
						<div class="default text">sexual_preference</div>
						<div class="menu" tabindex="-1">
							<div class="item" data-value="male">Male</div>
							<div class="item" data-value="female">Female</div>
							<div class="item" data-value="both">Both</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui center">
				<INPUT class="fluid ui primary submit button" TYPE="submit" NAME="nom" VALUE=" Submit ">
            </div>
			<div class="ui error message"></div>
		</form>
	</div>
	<hr>
	<center><a href="/signin">I am already a member</a></center>
</div>

</div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- wrapper -->

<% include footer %>

<script>
	$('.ui.form')
	.form({
	fields: {
		name: {
			identifier: 'name',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your name'
			  },
			  {
				type   : 'minLength[2]',
				prompt : 'Your name is too short'
			  }
			]
		},
		gender: {
			identifier: 'gender',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please select your Gender'
			  }
			]
		},
		surname: {
			identifier: 'surname',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your surname'
			  }
			]
		},
		email: {
			identifier: 'email',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your email'
			  }
			]
		},
		signin: {
			identifier: 'signin',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your signin'
			  }
			]
		},
		city: {
			identifier: 'city',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your city'
			  }
			]
		},
		pswd: {
			identifier: 'pswd',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your password'
			  },
			  {
				type   : 'minLength[8]',
				prompt : 'Your password must contain at least 8 char'
			  }
			]
		},
		repswd: {
			identifier: 'repswd',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your password again'
			  },
			  {
				type   : 'minLength[8]',
				prompt : 'Your password must contain at least 8 char'
			  }
			]
		},
		age: {
			identifier: 'age',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your Birthdate'
			  }
			]
		},
		sexual_preference: {
			identifier: 'sexual_preference',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your Interests'
			  }
			]
		},

	}
	});
</script>
